logic app code/logic app code view.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "For_each_2": {
                "actions": {
                    "Append_to_array_variable": {
                        "inputs": {
                            "name": "extractor_output",
                            "value": "@body('op_extractor')"
                        },
                        "runAfter": {
                            "op_extractor": [
                                "Succeeded"
                            ]
                        },
                        "type": "AppendToArrayVariable"
                    },
                    "Append_to_array_variable_2": {
                        "inputs": {
                            "name": "extractor_summary",
                            "value": {
                                "conclusion": "not extracted",
                                "requested_item": "@json(items('For_each_2'))",
                                "response_body": "@body('op_extractor')",
                                "response_code": "@outputs('op_extractor')['statusCode']",
                                "response_header": "@outputs('op_extractor')['headers']",
                                "status": 500
                            }
                        },
                        "runAfter": {
                            "op_extractor": [
                                "Failed"
                            ]
                        },
                        "type": "AppendToArrayVariable"
                    },
                    "Append_to_array_variable_3": {
                        "inputs": {
                            "name": "extractor_summary",
                            "value": {
                                "conclusion": "extracted",
                                "requested_item": "@json(items('For_each_2'))",
                                "response_body": "@json(body('op_extractor'))",
                                "response_code": "@outputs('op_extractor')['statusCode']",
                                "response_header": "@outputs('op_extractor')['headers']",
                                "status": 200
                            }
                        },
                        "runAfter": {
                            "Append_to_array_variable": [
                                "Succeeded"
                            ]
                        },
                        "type": "AppendToArrayVariable"
                    },
                    "op_extractor": {
                        "inputs": {
                            "body": "@items('For_each_2')",
                            "function": {
                                "id": "/subscriptions/1ce78759-24c6-47f3-b11e-f1ea12273337/resourceGroups/VendorAPIResourceGroup/providers/Microsoft.Web/sites/fn-orderprocessing-dev/functions/op_extractor"
                            },
                            "method": "POST"
                        },
                        "runAfter": {},
                        "type": "Function"
                    }
                },
                "foreach": "@variables('fetcher_output')",
                "runAfter": {
                    "Initialize_variable_for_extractor_summary": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "For_each_3": {
                "actions": {
                    "Append_to_array_variable_4": {
                        "inputs": {
                            "name": "dispatcher_summary",
                            "value": {
                                "conclusion": "diapatched",
                                "requested_item": "@json(items('For_each_3'))",
                                "response_body": "@json(body('op_dispatcher'))",
                                "response_code": "@outputs('op_dispatcher')['statusCode']",
                                "response_header": "@outputs('op_dispatcher')['headers']",
                                "status": 200
                            }
                        },
                        "runAfter": {
                            "op_dispatcher": [
                                "Succeeded"
                            ]
                        },
                        "type": "AppendToArrayVariable"
                    },
                    "Append_to_array_variable_5": {
                        "inputs": {
                            "name": "dispatcher_summary",
                            "value": {
                                "conclusion": "not dispatched",
                                "requested_item": "@json(items('For_each_3'))",
                                "response_body": "@body('op_dispatcher')",
                                "response_code": "@outputs('op_dispatcher')['statusCode']",
                                "response_header": "@outputs('op_dispatcher')['headers']",
                                "status": 500
                            }
                        },
                        "runAfter": {
                            "op_dispatcher": [
                                "Failed"
                            ]
                        },
                        "type": "AppendToArrayVariable"
                    },
                    "op_dispatcher": {
                        "inputs": {
                            "body": "@items('For_each_3')",
                            "function": {
                                "id": "/subscriptions/1ce78759-24c6-47f3-b11e-f1ea12273337/resourceGroups/VendorAPIResourceGroup/providers/Microsoft.Web/sites/fn-orderprocessing-dev/functions/op_dispatcher"
                            },
                            "method": "POST"
                        },
                        "runAfter": {},
                        "type": "Function"
                    }
                },
                "foreach": "@variables('extractor_output')",
                "runAfter": {
                    "Initialize_variable_for_dispatcher_summary": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "Initialize_variable_for_dispatcher_input": {
                "inputs": {
                    "variables": [
                        {
                            "name": "extractor_output",
                            "type": "array"
                        }
                    ]
                },
                "runAfter": {
                    "fetching_the_data_for_all_vendor_at_the_same_time": [
                        "Succeeded",
                        "Failed"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_variable_for_dispatcher_summary": {
                "inputs": {
                    "variables": [
                        {
                            "name": "dispatcher_summary",
                            "type": "array"
                        }
                    ]
                },
                "runAfter": {
                    "For_each_2": [
                        "Succeeded",
                        "Failed"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_variable_for_extractor_summary": {
                "inputs": {
                    "variables": [
                        {
                            "name": "extractor_summary",
                            "type": "array"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable_for_dispatcher_input": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "fetcher_output_array_initialization": {
                "inputs": {
                    "variables": [
                        {
                            "name": "fetcher_output",
                            "type": "array"
                        }
                    ]
                },
                "runAfter": {
                    "scheduled_json": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "fetcher_output_summary_array_initialization": {
                "inputs": {
                    "variables": [
                        {
                            "name": "fetcher_summary",
                            "type": "array"
                        }
                    ]
                },
                "runAfter": {
                    "fetcher_output_array_initialization": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "fetching_the_data_for_all_vendor_at_the_same_time": {
                "actions": {
                    "append__fetcher_success_response_body_for_extractor_input": {
                        "inputs": {
                            "name": "fetcher_output",
                            "value": "@body('op_fetcher')"
                        },
                        "runAfter": {
                            "appending_the_compose_for_summary_success": [
                                "Succeeded"
                            ]
                        },
                        "type": "AppendToArrayVariable"
                    },
                    "appending_the_compose_for_summary_success": {
                        "inputs": {
                            "name": "fetcher_summary",
                            "value": {
                                "message": "successful",
                                "requested_items": "@json(items('fetching_the_data_for_all_vendor_at_the_same_time'))",
                                "result_body": "@json(body('op_fetcher'))",
                                "result_header": "@outputs('op_fetcher')['headers']",
                                "result_status": "@outputs('op_fetcher')['statusCode']"
                            }
                        },
                        "runAfter": {
                            "op_fetcher": [
                                "Succeeded"
                            ]
                        },
                        "type": "AppendToArrayVariable"
                    },
                    "appending_the_compose_for_summary_unsuccess": {
                        "inputs": {
                            "name": "fetcher_summary",
                            "value": {
                                "message": "unsuccessful",
                                "requested_items": "@json(items('fetching_the_data_for_all_vendor_at_the_same_time'))",
                                "result_body": "@body('op_fetcher')",
                                "result_header": "@outputs('op_fetcher')['headers']",
                                "result_status": "@outputs('op_fetcher')['statusCode']"
                            }
                        },
                        "runAfter": {
                            "op_fetcher": [
                                "Failed"
                            ]
                        },
                        "type": "AppendToArrayVariable"
                    },
                    "op_fetcher": {
                        "inputs": {
                            "body": "@items('fetching_the_data_for_all_vendor_at_the_same_time')",
                            "function": {
                                "id": "/subscriptions/1ce78759-24c6-47f3-b11e-f1ea12273337/resourceGroups/VendorAPIResourceGroup/providers/Microsoft.Web/sites/fn-orderprocessing-dev/functions/op_fetcher"
                            },
                            "method": "POST"
                        },
                        "runAfter": {},
                        "type": "Function"
                    }
                },
                "foreach": "@outputs('scheduled_json')",
                "runAfter": {
                    "fetcher_output_summary_array_initialization": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "netsuitefetchersummary": {
                "inputs": {
                    "message": "net suite fetched",
                    "result_body": "@body('op_netsuite_fetcher_component')",
                    "result_header": "@outputs('op_netsuite_fetcher_component')['headers']",
                    "result_status": "@outputs('op_netsuite_fetcher_component')['statusCode']"
                },
                "runAfter": {
                    "op_netsuite_fetcher_component": [
                        "Succeeded"
                    ]
                },
                "type": "Compose"
            },
            "op_netsuite_fetcher_component": {
                "inputs": {
                    "function": {
                        "id": "/subscriptions/1ce78759-24c6-47f3-b11e-f1ea12273337/resourceGroups/VendorAPIResourceGroup/providers/Microsoft.Web/sites/fn-orderprocessing-dev/functions/op_netsuite_fetcher"
                    },
                    "method": "GET"
                },
                "runAfter": {},
                "type": "Function"
            },
            "op_schedular_component": {
                "inputs": {
                    "function": {
                        "id": "/subscriptions/1ce78759-24c6-47f3-b11e-f1ea12273337/resourceGroups/VendorAPIResourceGroup/providers/Microsoft.Web/sites/fn-orderprocessing-dev/functions/op_schedular"
                    },
                    "method": "GET"
                },
                "runAfter": {
                    "netsuitefetchersummary": [
                        "Succeeded"
                    ]
                },
                "type": "Function"
            },
            "op_summary": {
                "inputs": {
                    "netsuite_fetcher": "@outputs('netsuitefetchersummary')",
                    "op_dispatcher": "@variables('dispatcher_summary')",
                    "op_extractor": "@variables('extractor_summary')",
                    "op_fetcher": "@variables('fetcher_summary')",
                    "op_schedular": "@outputs('opschedularsummary')"
                },
                "runAfter": {
                    "For_each_3": [
                        "Succeeded",
                        "Failed"
                    ]
                },
                "type": "Compose"
            },
            "opschedularsummary": {
                "inputs": {
                    "message": "scheduled",
                    "result_body": "@json(body('op_schedular_component'))",
                    "result_header": "@outputs('op_schedular_component')['headers']",
                    "result_status": "@outputs('op_schedular_component')['statusCode']"
                },
                "runAfter": {
                    "op_schedular_component": [
                        "Succeeded"
                    ]
                },
                "type": "Compose"
            },
            "scheduled_json": {
                "inputs": "@json(body('op_schedular_component'))",
                "runAfter": {
                    "opschedularsummary": [
                        "Succeeded"
                    ]
                },
                "type": "Compose"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {},
        "triggers": {
            "timer_to_trigger": {
                "evaluatedRecurrence": {
                    "frequency": "Day",
                    "interval": 1
                },
                "recurrence": {
                    "frequency": "Day",
                    "interval": 1
                },
                "type": "Recurrence"
            }
        }
    },
    "parameters": {}
}